<footer class="bg-dark text-light text-center">
    <div class="container p-4">
        <h1>&copy;Dorko Sprono PortFolio</h1>
        <p>2000 - <%= new Date().getFullYear();%></p>
        <p>All rights Reserved </p>
    </div>
</footer>